<center>
  <h1>New States</h1>
  <%= form_for @state do |form|%>
    <%= form.text_field :name, class: :"form-control" %><br>
    <% @state.errors.full_messages_for(:name).each do |message| %>
    <div><%= message %></div>
    <% end %>
    <%= form.select :taluka_id, Taluka.all.collect {|p| [ p.name, p.id ]}, include_blank: true %>
    <%= form.submit class: :"btn btn-outline-success" %>
  <% end %>
  <td><%= link_to 'Back', states_path, class: :"nav-link" %></td>
  
</center>