<center>
  <h1>Edit Districts</h1>
  <%= form_for @district do |form|%>
    
    <%= form.text_field :name, class: :"form-control" %><br>
    <% @district.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    <br>
    <%= form.select :state_id, State.all.collect {|p| [ p.name, p.id ] }, include_blank: true %>
    <br>
    <%= form.select :state_id, Taluka.all.collect {|p| [ p.name, p.id ]}, include_blank: true %>

    <%= form.submit class: :"btn btn-outline-success" %>
  <% end %>
  <td><%= link_to 'Back', districts_path, class: :"nav-link" %></td>
  
</center>